<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<% if @user.avatar.url.blank? == false %>
	<%= image_tag @user.avatar.url %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
